.main {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(48, 48, 48);
    margin: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
}

/*********STATS PANE*********/
#stats {
    /*border: 2px solid blue;*/
    background-color: #232221;
    color: rgb(189, 189, 189);
    position: relative;
    float: left;
    box-sizing: border-box;
    font-weight: 100;
    margin: 0px;
    padding: 1rem;
    height: 100vh;
    width: 20vw;
}

#title {
    /*border: 2px solid aqua;*/
    margin: 0;
    font-family: Gill Sans, sans-serif;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #6b6b6b;
}

#statsRegion {
    padding-bottom: 20px;
    border-bottom: 1px solid #484848;
}

.statsDisplay {
    /*border: 2px solid rgb(255, 20, 21);*/
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.healthDisplay {
    width: 100%;
}

.hungerDisplay {
    width: 45%;
}

.thirstDisplay {
    width: 45%;
}

.labelRow {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}

.label {
    color:#9f9f9f;
    font-family: Trebuchet MS, sans-serif;
}

.amount {
    color: gray;
    font-family: Arial Narrow, sans-serif;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.statsBar {
    background-color: #6b6b6b;
    width: 100%;
    height: 5px;
    border-radius: 4px;
}

.healthBar {
    background-color: #ff1717;
    width: 100%;
    height: 5px;
    border-radius: 4px;
}

.hungerBar {
    background-color: #dab350;
    width: 100%;
    height: 5px;
    border-radius: 4px;
}

.thirstBar {
    background-color: #174dff;
    width: 100%;
    height: 5px;
    border-radius: 4px;
}

.itemRegion {
    /*border: 2px solid green;*/
    padding-top: 1rem;
    font-family: Noto Sans, sans-serif;
    font-weight: 500;
    width: 100%;
}   

.itemDisplay {
    /*border: 2px solid green;*/
    padding-top: .5rem;
    padding-left: 2rem;
    font-family: Courier New, monospace;
    font-weight: lighter;
}

/*******END STATS PANE*******/


/*********INFO PANE**********/
.info {
    /*border: 2px solid red;*/
    background-color: #232221;
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 20vw;
    right: 0;
    top: 0;
}
/*******END INFO PANE********/


/*********INFO PANE**********/
.game {
    /*border: 2px solid purple;*/
    background-color: rgb(18, 20, 21);
    border-left: 2px solid rgb(57, 57, 57);
    border-right: 2px solid rgb(57, 57, 57);
    position: relative;
    bottom: 0px;
    margin: auto;
    box-sizing: border-box;
    padding: 0px;
    height: 100vh;
    width: 60vw;
    top: 0px;
}

#startText {
    box-sizing: border-box;
    color: white;
}

#textContainer {
    /*border: 2px solid pink;*/
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;
    max-height: 90.5vh;
    width: 59.7vw;
    height: 90.5vh;
}

#text {
    /*border: 2px solid red;*/
    box-sizing: border-box;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    max-height: 90vh;
    width: 60vw;
    height: 90vh;
    padding: 1.5rem;
}

.message {
    padding-top: .25rem;
}

#inputForm {
    border-top: 2px solid rgb(71, 71, 71);
    padding: .75rem;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    bottom: 0px;
    /*bottom: 10px;*/
}

#actionInput {
    float: left;
    position: absolute;
    display: block;
    font-family: Roboto Slab,serif;
    font-weight: 400;
    background-color: #111;
    border: 1px solid #424242;
    border-radius: 2px;
    color: #ebebeb;
    font-size: 13px;
    outline: none;
    box-sizing: border-box;
    width: 75%;
    height: 66%;
    left: 1.5rem;
    padding: 0.5rem 0.75rem;
}

#submit {
    float:right;
    position: absolute;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 0px;
    right: 1.5rem;
    width: 15%;
    height: 66%;
}

#submit:hover {
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
}
/*******END GAME PANE********/